body {
    margin: 0;
}
.background_img {
    background-image: url("img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 552px;
    width: 100%;
    margin: 0;
}
.header {

    width: 100%;
    height: 88px;
    margin: 0 auto;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.header ul {
    list-style: none;
}
.header ul li {
    display: inline-block;
    padding: 0 30px 0 30px;
    margin-top: 15px;
}
.header ul li a{
    text-decoration: none;
    color: black;
}
.text {
    margin: 0 272px;
}
.text h2 {
    color: black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
}
.text p {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    width: 856px;
    text-align: left;
    margin: 40px 0 24px 0;
}
.text_mod {
    color: #04959E;
}
.text ol {
    color: #161616;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
    width: 856px;
}




.button {
    padding: 10px 24px;
    background-color: #04959E;
    color: white;
    width: 145px;
    height: 44px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #04959E;
    background-position: center;
    margin: 10px 10px 98px 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

}

.footer {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #161616;
    text-align: center;
    border-top: 1px solid #161616;
    margin: 16px 0;

}

